{% extends "base.html" %}

{% block content %}

<div class='row'>
	<div class='col-sm-9'>
		<h1>О проекте</h1>
		<p>Это тестовый проект на Django 1.8</p>
		<p>Авторизируйтесь под логином login: 'admin', password: '123' чтобы увидеть список заявок.</p>
		<h3>What to do list:</h2>
		<ul>
			<ol></ol>
			<ol>Доделать всплывающее окно(валидация - чтобы страница не перезагружалась)</ol>
		</ul>
	</div>
</div>

{% endblock %}